@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Use <div asp-validation-summary="ModelOnly"></div> if u want to do validation on click of Send Message
*@
@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
@section scripts{ 
<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form method="post">

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name">Your Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="email" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject">Subject</label>
                    <input type="text" class="form-control" asp-for="Subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message">Message</label>
                    <textarea rows="4" class="form-control" asp-for="Message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                 </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Send Message</button>
                    <div class="text-success">@ViewBag.UserMessage</div>
                </div>
            </form>
        </div>
    </div>
</div>
