@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Product>
<h1>Shop</h1>
<p>Count:@Model.Count()</p>
@foreach(var p in Model)
{
    <div class="container col-md-3">
        
        <div class="row">
            <div class="card" style="width:auto">


                <img src="~/img/@(p.ArtId).jpg" class="img-fluid" alt="@p.Title" style="width:auto" />
                <h3>@p.Category - @p.Size</h3>
                <ul class="product-props">
                    <li>Price:@p.Price</li>
                    <li>Artist:@p.Artist</li>
                    <li>Title:@p.Title </li>
                    <li>Description:@p.ArtDescription</li>
                </ul>
                <button id="buyButton">Buy</button>
            </div>
        </div>
                    </div>
                
        

                }
